<h1>Listing ordem_servicos_executados</h1>

<table>
  <tr>
  </tr>

<% for ordem_servicos_executado in @ordem_servicos_executados %>
  <tr>
    <td><%= link_to 'Show', ordem_servicos_executado %></td>
    <td><%= link_to 'Edit', edit_ordem_servicos_executado_path(ordem_servicos_executado) %></td>
    <td><%= link_to 'Destroy', ordem_servicos_executado, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ordem_servicos_executado', new_ordem_servicos_executado_path %>
