<h1>New ordem_servicos_executado</h1>

<% form_for(@ordem_servicos_executado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ordem_servicos_executados_path %>
