<h1>Editing proveedore</h1>

<% form_for(@proveedore) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @proveedore %> |
<%= link_to 'Back', proveedores_path %>
