

  <h1 align="right" id="header">Servicios</h1>
  <br/>

    <%= render :partial=>"new_servico", :locals=>{:ordem_servicos_executado=>OrdemServicosExecutado.new(:ordem_servico_id=>@ordem_servico.id)} %>

