
        <div class="menu">
<% if current_user.tipo ==  0 %>
          <ul>
            <li><a href="/menus"> Menu</a></li>
            <li><a href="#">Registros</a>
              <ul>
                <li><a href="/moedas">                     Cotizacion</a></li>
                <li><a href="/personas">                   Personas</a></li>
                <li><a href="/produtos">                   Productos</a></li>
                <li><a href="/clases">                     Clases</a></li>
                <li><a href="/grupos">                     Grupos</a></li>
                <li><a href="/depositos">                  Depositos</a></li>
                <li><a href="/bombas">                     Picos</a></li>
                <li><a href="/documentos">                 Documentos</a></li>
                <li><a href="/rubros">                     Rubros Contables</a></li>
                <li><a href="/Plano_de_contas">            Plan de Cuentas</a></li>
                <li><a href="/contas">                     Caja/Banco</a></li>
                <li><a href="/paises">                     Paises</a></li>
                <li><a href="/estados">                    Departamentos</a></li>
                <li><a href="/cidades">                    Ciudades</a></li>
              </ul>
            </li>
<% end %>
            <li><a href="#">Procesos</a>
              <ul>
                <li><a href="/vendas">                      Ventas</a></li>
                <li><a href="/transferencia_depositos">     Transferencias Entre Depositos</a></li>
<% if current_user.tipo ==  0 %>
                <li><a href="/stocks/stock_inicial">        Stock Inicial</a></li>
                <li><a href="/stocks/stock_final">          Stock Final</a></li>
                <li><a href="/compras/index_compra">        Compras</a></li>
                <li><a href="/compras/index_gasto">         Gastos</a></li>
                <li><a href="/nota_creditos">               Nota de Credito</a></li>
                <li><a href="/cobros">                      Cobros</a></li>
                <li><a href="/pagos">                       Pagos</a></li>
                <li><a href="/vendas/faturas_pendentes">    Facturas Pendientes</a></li>
                <li><a href="/produtos/consulta_stock">     Consulta Stock</a></li>
                <li><a href="/fechamento_turnos">           Cierre de Turno</a></li>
                <li><a href="/ingressos">                   Ingresos</a></li>
                <li><a href="/transferencia_contas">        Transferencias Entre Cuentas</a></li>
                <li><a href="/sueldos">                     Sueldos y Jornales</a></li>
                <li><a href="/sobrantes_faltantes">         Sobrantes y Faltantes</a></li>
                <li><a href="/adelantos_proveedors">        Adelantos a Proveedores</a></li>
                <li><a href="/producaos">        Transfor. de Productos</a></li>
                <li><a href="/faturas">                     Facturas</a></li>
              </ul>
            </li>
<% end %>

            <li><a href="#">Relatorios</a>
              <ul>
                <li><a href="/relatorios/relatorio_vendas_do_dia">    Ventas</a></li>
    <% if current_user.tipo ==  0 %>
                <li><a href="/stocks/rentabilidade">    Rentabilidad</a></li>
                <li><a href="/proveedores">                           Pagar</a></li>
                <li><a href="/clientes">                              Receber</a></li>
                <li><a href="/financas">                              Extracto Caja</a></li>
                <li><a href="/financas/extrato_bancario">             Extracto Bancario</a></li>
                <li><a href="/relatorios/relatorio_compras">          Compras</a></li>
                <li><a href="/relatorios/relatorio_cobros">           Cobros</a></li>
                <li><a href="/stocks/iventario">                      Inventario</a></li>
                <li><a href="/stocks">                                Ficha de Stock</a></li>
                <li><a href="/relatorios/relatorio_fechamento_turno"> Cierre de Turno</a></li>

              </ul>
            </li>
            <li><a href="#">Contabilidad</a>
              <ul>
                <li><a href="/diarios">                                 Asientos Contables</a></li>
                <li><a href="/relatorios/generar_acientos_contables">   Generar Asientos Contables</a></li>
                <hr/>
                <li><a href="/relatorios/livro_compra">                 Libro Compra</a></li>
                <li><a href="/relatorios/livro_venda">                  Libro Venda</a></li>
                <li><a href="/relatorios/livro_diario">                 Libro Diario</a></li>
                <li><a href="/relatorios/livro_mayor">                  Libro Mayor</a></li>
                <li><a href="/relatorios/balance">                      Balance de Suma y Saldos</a></li>
                <li><a href="/relatorios/balance_general">              Balance General</a></li>

              </ul>
            </li>


            <li><a href="#">Sistema</a>
              <ul>
                <li><a href="/unidades">                     Unidades</a></li>
                <li><a href="/usuarios">                     Usuarios</a></li>
              </ul>
            </li>
          </ul>
<% end %>

        </div>
